<!DOCTYPE html>
<html>

<head>
    <title>Page Title Here</title>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/semantic/build/packaged/css/semantic.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/style.css -->
    <link rel="stylesheet" href="styles/style.css" />
    <!-- endbuild -->
</head>

<body>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <script src="bower_components/semantic/build/packaged/javascript/semantic.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/script.js -->
    <script src="scripts/script.js"></script>
    <!-- endbuild -->
</body>

</html>
